body {
  background-color: #white;
}

h1 {
  font-size: 50px;
  font-family: cursive;
  font-style: oblique;
  text-align: center;
}

.jumbotron {
  background-color: #5bd75b;
}

.well {
  background-color: inherit;
}

h6 {
  text-align: center;
  font-size: 40px;
  font-style: oblique;
}
